<h1>Articles Search</h1>

<%= form_for(search_path, method: :get) do |f| %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h3>
        <%= link_to article.title, article%>
      </h3>
    </li>
  <% end %>
</ul>